.chooseus {
  display: flex;
  /* height: 502px; */
  gap: 20px;
}

@media only screen and (max-width: 1000px) {
  .chooseus {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers vertically */
    align-items: center; /* Centers horizontally */
    height: 100%;
  }

  .card4 {
    display: flex;
    flex-direction: row;
  }
  .card4-text {
    width: 100%;
  }
  .card4-img {
    display: none;
  }
}

@media (max-width: 525px) {
  .choose {
    display: none;
  }
}
